<h3>Add Trip</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" #dd="ngForm">
    <div class="form-group">

      <label for = "placeName">Place name</label>
      <input type="text" class="form-control" id="placeName" required [(ngModel)]="place.placeName" name="placeName"
             #aa="ngModel">
      <div [hidden]="aa.valid || aa.pristine"
           class="alert alert-danger">
        Place is required
      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="place.description" name="description"
             #bb="ngModel">
      <div [hidden]="bb.valid || bb.pristine"
           class="alert alert-danger">
        Description is required
      </div>
    </div>

    <div class="form-group">
      <label >Coordinates</label>
      <input type="text" class="form-control" id="coordinates" required [(ngModel)]="place.coordinates" name="coordinates"
             #cc="ngModel">
      <div [hidden]="cc.valid || cc.pristine"
           class="alert alert-danger">
        Coordinates format (40°41′21.4”N 74°02′40.2”W)
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!dd.form.valid">Save</button>
  </form>
</div>
